{cover_enabled, true}.

{erl_opts, [ debug_info
           , {parse_transform, lager_transform}
           , {i, "deps/*/include"}
           ]}.

{edoc_opts, [{preprocess, true}]}.

{lib_dirs, [ "deps" ]}.

{sub_dirs, [ "rel" ]}.

{deps, [
  {lager, "2.1.0", {git, "git://github.com/basho/lager", {tag, "2.1.0"}}}
]}.
